<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCreWhWiSieqB1g7d7IjcU18K8fgh9QOb8</string>
	<key>GCM_SENDER_ID</key>
	<string>914825945644</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.annacardplay.app</string>
	<key>PROJECT_ID</key>
	<string>iosor-57</string>
	<key>STORAGE_BUCKET</key>
	<string>iosor-57.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:914825945644:ios:befedbc7a670a445e1a789</string>
</dict>
</plist>